@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

ul h1{
    color: white;
    font-family: 'Dancing Script', cursive;
}

ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
.menuItem{
    height: 50px;
    background-color: rgba(138,43,226, .8);
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 20px;
    color: white;
    font-family: 'Charm', cursive;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
 }
 button{
     border: none;
     height: 100%;
     width: 80px;
     border-radius: 20px;
 }